html{
  width:100vw;
  min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:100vw;
  justify-content: center;
  align-items: center;
}



.bg-rings-img {
  background-image: url("./assets/images/pattern-rings.svg"),url("./assets/images/pattern-circle.svg"),url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-size: 100%,30%,100%,100%;
  background-position: -10rem 13rem, 22rem 15rem,15rem 93rem
}

.bg-form-img{
  background-image: url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -12rem 30rem;
  z-index: 100;
}


@media (min-width:768px){
  .bg-rings-img {
    background-position: -30rem 0rem, 40rem 25rem, 32rem 50rem;
  }

  .bg-form-img{
    background-position: -30rem 25rem;
  }
}

@media (min-width:1024px){
  .bg-rings-img {
    background-position: -25rem 5rem, 30rem 35rem, 45rem 55rem;
    background-size: 70%,20%,80%;
  }

  .bg-form-img{
    background-position: -30rem 15rem;
  }

}

@media (min-width:1440px){
  .bg-rings-img {
    background-position: -25rem 5rem, 45rem 20rem, 60rem 55rem;
    background-size: 60%,20%,50%;
  }

  .bg-form-img{
    background-size: 60%;
    background-position: -30rem 15rem;
  }

}


.project-container {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container:hover .project-overlay {
  opacity: 1;
}


/* New styles */
.desktop-only {
  display: none; /* Hide by default */
}

.mobile-only {
  display: flex;
  
}

/* Media query for desktop */
@media (min-width: 769px) {
  .desktop-only {
    display: flex; /* Show on desktop */
  }
  .mobile-only {
    display: none; /* Hide on desktop */
  }
}












